<h3 class="bg-light fw-bolder mt20 w-25">Questions of {{qTitle}}</h3>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <mat-card *ngFor="let q of questions; let i = index" class="mt20">
                <mat-card-content>
                    <p> <strong><em>Q {{i+1}} : </em></strong> <span class="ml20" [innerHTML]="q.content">

                    </span></p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p>1). {{q.option1}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>2). {{q.option2}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>3). {{q.option3}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>4). {{q.option4}}</p>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
